---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/653714645670132444_16192269?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["scarosso","buybuy"],"location":null,"comments":{"count":23,"data":[{"created_time":"1392188251","text":"@jasminkasapoglu
        great choice! Please send us your shipping details in a direct message and
        then Scarosso can deliver the shoes to you with free delivery!","from":{"username":"buybuythanks","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_887914439_75sq_1392153009.jpg","id":"887914439","full_name":"BuyBuyThanks"},"id":"654044918295263986"},{"created_time":"1392190289","text":"Nice
        bag","from":{"username":"cathy_0925","profile_picture":"http:\/\/photos-e.ak.instagram.com\/hphotos-ak-xfa1\/1530668_313311635505564_798367476_a.jpg","id":"366760475","full_name":"cathy_0925"},"id":"654062014664243301"},{"created_time":"1392194781","text":"@willyoubetrue
        Hi there! These are lovely boots from Scarosso. Please get in touch through
        direct message when you want to order them.[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/782015686440158293_65800?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":[],"location":{"latitude":52.554745,"longitude":13.398938333},"comments":{"count":81,"data":[{"created_time":"1407474611","text":"amazing!!!!","from":{"username":"dienatti","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xpa1\/10449063_338389172974731_328197425_a.jpg","id":"264460210","full_name":"DieNatti"},"id":"782276194116339542"},{"created_time":"1407481466","text":"WOW!!","from":{"username":"pairrieland","profile_picture":"http:\/\/photos-a.ak.instagram.com\/hphotos-ak-xpa1\/1689783_475223009280984_1192165826_a.jpg","i[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/84568314973783459_165640?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"APINotFoundError","code":400,"error_message":"invalid
        media id"}}'
  recorded_at: Fri, 29 Aug 2014 08:45:26 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/784568314973783459_165640?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["lumixgexperience"],"location":{"latitude":52.45720615,"name":"Blog
        in my Profile","longitude":13.389613831,"id":254085829},"comments":{"count":37,"data":[{"created_time":"1407764100","text":"Nice","from":{"username":"boyjinmengqi","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xpa1\/10513730_1442582419356753_348930268_a.jpg","id":"345132567","full_name":"Mengqi
        Jin"},"id":"784704609108756249"},{"created_time":"1407764163","text":"Nice
        pic","from":{"username":"bilal911","profile_picture":"http:\/\/photos-b.ak.inst[...]
[...]
