---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/669371381316733323_213058217?access_token=16192269.01a3945.5132ead0890d4650a196c1f33f8d0748
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: ! '{"meta":{"error_type":"APINotFoundError","code":400,"error_message":"invalid
        media id"}}'
  recorded_at: Wed, 17 Sep 2014 14:59:59 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/669371381316733323_213058217?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: 
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"error_type":"APINotFoundError","code":400,"error_message":"invalid
        media id"}}'
  recorded_at: Mon, 20 Oct 2014 11:34:30 GMT
recorded_with: VCR 2.9.3
