---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/831138234853764564_4168338?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":[],"type":"image","location":{"latitude":59.943762911,"longitude":30.26491185},"comments":{"count":439,"data":[{"created_time":"1413841260","text":"Hii
        im single, anybody love and marry me??","from":{"username":"alfarisi_guci","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_448043320_75sq_1382885093.jpg","id":"448043320","full_name":"Rudi
        Alfarisi Guci"},"id":"835683519093288725"},{"created_time":"1413843539","text":"Hello
        beauty","from":{"username":"baby_yxj","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xpa1\/1742594_295307154011122_1963587403_a.jpg","id":"1509504023","full_name":"Menos
        rigoroso"},"id":"835702641680198781"},{"created_time":"1413843732","text":"Beautiful
        \ud83d\ude0a","from":{"username":"saaraaah02","profile_picture":"http:\/\/photos-d.ak.instagram.com\/h[...]
