---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/958084286559626921_264734424?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4965'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": {"id": "958084286559626921_264734424", "user": {"id": "264734424",
        "full_name": "SOPHIE\ud83d\udc98HERMANN", "profile_picture": "https://scontent.cdninstagram.com/vp/390bc9347092211fa8cbcb3106a47a65/5B386D29/t51.2885-19/s150x150/14052269_1752252828365031_1702773242_a.jpg",
        "username": "xxsophiehermannxx"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/vp/dc747fa87100f7235d484ba7ade099bd/5B491F89/t51.2885-15/s150x150/e15/11093087_678325142294971_1997462838_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/vp/08f8db25845167e4df0ca937c9407bd2/5B458F1A/t51.2885-15/s320x320/e15/11093087_678325142294971_1997462838_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/vp/f6c75461ec3727e1caf6a7e353d04cbf/5B4BBE97/t51.2885-15/e15/11093087_678325142294971_1997462838_n.jpg"}},
        "created_time": "1428432568", "caption": {"id": "17853043984030425", "text":
        "Squaw Chic. Get in the game follow @boohooofficial and win a 150\u00a3 voucher,by
        posting your styles with #WeAreStylists\ud83c\udf42\ud83c\udf42\ud83c\udf42",
        "created_time": "1428432568", "from": {"id": "264734424", "full_name": "SOPHIE\ud83d\udc98HERMANN",
        "profile_picture": "https://scontent.cdninstagram.com/vp/390bc9347092211fa8cbcb3106a47a65/5B386D29/t51.2885-19/s150x150/14052269_1752252828365031_1702773242_a.jpg",
        "username": "xxsophiehermannxx"}}, "user_has_liked": false, "likes": {"count":
        1580}, "tags": ["wearestylists\ud83c\udf42\ud83c\udf42\ud83c\udf42"], "filter":
        "Normal", "comments": {"count": 17}, "type": "image", "link": "https://www.instagram.com/p/1LzJUdRSap/",
        "location": null, "attribution": null, "users_in_photo": [{"user": {"id":
        "211690487", "full_name": "b. the communications agency", "profile_picture":
        "https://scontent.cdninstagram.com/vp/35c1696456912bcdde5a7c6e3291524b/5B30C61E/t51.2885-19/s150x150/16124378_152997471864050_8885113894524157952_n.jpg",
        "username": "b_theagency"}, "position": {"x": 0.6046874999999999, "y": 0.3046875}},
        {"user": {"id": "4165329", "full_name": "Topshop", "profile_picture": "https://scontent.cdninstagram.com/vp/bc62204f297d5d9834fbdd2728258f2a/5B3FB260/t51.2885-19/s150x150/26864184_219820091923713_6004623592753463296_n.jpg",
        "username": "topshop"}, "position": {"x": 0.3234375, "y": 0.44375000000000003}},
        {"user": {"id": "201077985", "full_name": "boohoo.com", "profile_picture":
        "https://scontent.cdninstagram.com/vp/501f26682f9eb6eb0e06bbcc53445a75/5B32039F/t51.2885-19/s150x150/21107803_484808981878205_7984904297064169472_a.jpg",
        "username": "boohoo"}, "position": {"x": 0.8218749999999999, "y": 0.7562500000000001}},
        {"user": {"id": "1101361995", "full_name": "Gianvito Rossi", "profile_picture":
        "https://scontent.cdninstagram.com/vp/ace1fbeaae1a38683f5a563ef7dfb74d/5B32FC50/t51.2885-19/s150x150/22582433_125512284819445_1660555706639581184_n.jpg",
        "username": "gianvitorossi"}, "position": {"x": 0.253125, "y": 0.8765624999999999}}]},
        "meta": {"code": 200}}'
      effective_url: https://api.instagram.com/v1/media/958084286559626921_264734424?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Wed, 14 Mar 2018 07:59:12 GMT
recorded_with: VCR 2.9.3
