---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/653714645670132444_16192269?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["scarosso","buybuy"],"type":"image","location":null,"comments":{"count":22,"data":[{"created_time":"1392188251","text":"@jasminkasapoglu
        great choice! Please send us your shipping details in a direct message and
        then Scarosso can deliver the shoes to you with free delivery!","from":{"username":"buybuythanks","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_887914439_75sq_1392153009.jpg","id":"887914439","full_name":"BuyBuyThanks"},"id":"654044918295263986"},{"created_time":"1392190289","text":"Nice
        bag","from":{"username":"cathy_0925","profile_picture":"http:\/\/photos-e.ak.instagram.com\/hphotos-ak-xfa1\/1530668_313311635505564_798367476_a.jpg","id":"366760475","full_name":"cathy_0925"},"id":"654062014664243301"},{"created_time":"1392194781","text":"@willyoubetrue
        Hi there! These are lovely boots from Scarosso. Please get in touch through
        direct message when you want to order them.[...]
