---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/653714645670132444_16192269?access_token=16192269.01a3945.5132ead0890d4650a196c1f33f8d0748
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["scarosso","buybuy"],"type":"image","location":null,"comments":{"count":23,"data":[{"created_time":"1392188251","text":"@jasminkasapoglu
        great choice! Please send us your shipping details in a direct message and
        then Scarosso can deliver the shoes to you with free delivery!","from":{"username":"buybuythanks","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_887914439_75sq_1392153009.jpg","id":"887914439","full_name":"BuyBuyThanks"},"id":"654044918295263986"},{"created_time":"1392190289","text":"Nice
        bag","from":{"username":"cathy_0925","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_366760475_75sq_1391933145.jpg","id":"366760475","full_name":"Nice
        Meet You!\ud83d\ude1d I Love My Dog!"},"id":"654062014664243301"},{"created_time":"1392194781","text":"@willyoubetrue
        Hi there! These are lovely boots from Scarosso. Please get in touch through
        direct message [...]
