---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/958084286559626921_264734424?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4965'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": {"id": "958084286559626921_264734424", "user": {"id": "264734424",
        "full_name": "SOPHIE\ud83d\udc98HERMANN", "profile_picture": "https://scontent.cdninstagram.com/vp/390bc9347092211fa8cbcb3106a47a65/5B386D29/t51.2885-19/s150x150/14052269_1752252828365031_1702773242_a.jpg",
        "username": "xxsophiehermannxx"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/vp/dc747fa87100f7235d484ba7ade099bd/5B491F89/t51.2885-15/s150x150/e15/11093087_678325142294971_1997462838_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/vp/08f8db25845167e4df0ca937c9407bd2/5B458F1A/t51.2885-15/s320x320/e15/11093087_678325142294971_1997462838_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/vp/f6c75461ec3727e1caf6a7e353d04cbf/5B4BBE97/t51.2885-15/e15/11093087_678325142294971_1997462838_n.jpg"}},
        "created_time": "1428432568", "caption": {"id": "17853043984030425", "text":
        "Squaw Chic. Get in the game follow @boohooofficial and win a 150\u00a3 voucher,by
        posting your styles with #WeAreStylists\ud83c\udf42\ud83c\udf42\ud83c\udf42",
        "created_time": "1428432568", "from": {"id": "264734424", "full_name": "SOPHIE\ud83d\udc98HERMANN",
        "profile_picture": "https://scontent.cdninstagram.com/vp/390bc9347092211fa8cbcb3106a47a65/5B386D29/t51.2885-19/s150x150/14052269_1752252828365031_1702773242_a.jpg",
        "username": "xxsophiehermannxx"}}, "user_has_liked": false, "likes": {"count":
        1580}, "tags": ["wearestylists\ud83c\udf42\ud83c\udf42\ud83c\udf42"], "filter":
        "Normal", "comments": {"count": 17}, "type": "image", "link": "https://www.instagram.com/p/1LzJUdRSap/",
        "location": null, "attribution": null, "users_in_photo": [{"user": {"id":
        "211690487", "full_name": "b. the communications agency", "profile_picture":
        "https://scontent.cdninstagram.com/vp/35c1696456912bcdde5a7c6e3291524b/5B30C61E/t51.2885-19/s150x150/16124378_152997471864050_8885113894524157952_n.jpg",
        "username": "b_theagency"}, "position": {"x": 0.6046874999999999, "y": 0.3046875}},
        {"user": {"id": "4165329", "full_name": "Topshop", "profile_picture": "https://scontent.cdninstagram.com/vp/bc62204f297d5d9834fbdd2728258f2a/5B3FB260/t51.2885-19/s150x150/26864184_219820091923713_6004623592753463296_n.jpg",
        "username": "topshop"}, "position": {"x": 0.3234375, "y": 0.44375000000000003}},
        {"user": {"id": "201077985", "full_name": "boohoo.com", "profile_picture":
        "https://scontent.cdninstagram.com/vp/501f26682f9eb6eb0e06bbcc53445a75/5B32039F/t51.2885-19/s150x150/21107803_484808981878205_7984904297064169472_a.jpg",
        "username": "boohoo"}, "position": {"x": 0.8218749999999999, "y": 0.7562500000000001}},
        {"user": {"id": "1101361995", "full_name": "Gianvito Rossi", "profile_picture":
        "https://scontent.cdninstagram.com/vp/ace1fbeaae1a38683f5a563ef7dfb74d/5B32FC50/t51.2885-19/s150x150/22582433_125512284819445_1660555706639581184_n.jpg",
        "username": "gianvitorossi"}, "position": {"x": 0.253125, "y": 0.8765624999999999}}]},
        "meta": {"code": 200}}'
      effective_url: https://api.instagram.com/v1/media/958084286559626921_264734424?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Wed, 14 Mar 2018 07:59:12 GMT
- request:
    method: get
    uri: https://www.instagram.com/p/1LzJUdRSap/?__a=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"graphql":{"shortcode_media":{"__typename":"GraphImage","id":"958084286559626921","shortcode":"1LzJUdRSap","dimensions":{"height":640,"width":640},"gating_info":null,"media_preview":null,"display_url":"https://scontent-waw1-1.cdninstagram.com/vp/df098f25a064cfda8202002c935302f6/5B734B97/t51.2885-15/e15/11093087_678325142294971_1997462838_n.jpg","display_resources":[{"src":"https://scontent-waw1-1.cdninstagram.com/vp/df098f25a064cfda8202002c935302f6/5B734B97/t51.2885-15/e15/11093087_678325142294971_1997462838_n.jpg","config_width":640,"config_height":640},{"src":"https://scontent-waw1-1.cdninstagram.com/vp/df098f25a064cfda8202002c935302f6/5B734B97/t51.2885-15/e15/11093087_678325142294971_1997462838_n.jpg","config_width":750,"config_height":750},{"src":"https://scontent-waw1-1.cdninstagram.com/vp/df098f25a064cfda8202002c935302f6/5B734B97/t51.2885-15/e15/11093087_678325142294971_1997462838_n.jpg","config_width":1080,"config_height":1080}],"is_video":false,"should_log_client_event":false,"tracking_token":"eyJ2ZXJzaW9uIjo1LCJwYXlsb2FkIjp7ImlzX2FuYWx5dGljc190cmFja2VkIjp0cnVlLCJ1dWlkIjoiNTE0ODNlOTlkNzk4NDQ4ODhiZTNlNDNlNjljYWZlNzE5NTgwODQyODY1NTk2MjY5MjEifSwic2lnbmF0dXJlIjoiIn0=","edge_media_to_tagged_user":{"edges":[{"node":{"user":{"username":"b_theagency"},"x":0.6046875,"y":0.3046875}},{"node":{"user":{"username":"topshop"},"x":0.3234375,"y":0.44375}},{"node":{"user":{"username":"boohoo"},"x":0.821875,"y":0.75625}},{"node":{"user":{"username":"gianvitorossi"},"x":0.253125,"y":0.8765625}}]},"edge_media_to_caption":{"edges":[{"node":{"text":"Squaw
        Chic. Get in the game follow @boohooofficial and win a 150\u00a3 voucher,by
        posting your styles with #WeAreStylists\ud83c\udf42\ud83c\udf42\ud83c\udf42"}}]},"caption_is_edited":false,"edge_media_to_comment":{"count":17,"page_info":{"has_next_page":false,"end_cursor":null},"edges":[{"node":{"id":"17851874164030425","text":"Gorgeousness
        x","created_at":1428432604,"owner":{"id":"513273540","profile_pic_url":"https://scontent-waw1-1.cdninstagram.com/vp/a461613a7932888ebab7f24f2014ad62/5B7032AB/t51.2885-19/11821823_1617728755175224_238502160_a.jpg","username":"ross4144"}}},{"node":{"id":"17851874167030425","text":"Love
        it \ud83d\udc4c","created_at":1428432640,"owner":{"id":"48998471","profile_pic_url":"https://scontent-waw1-1.cdninstagram.com/vp/e5c33bf5226040f55f0509385572d82e/5B5E167E/t51.2885-19/s150x150/29094235_602394883435278_2734001027572301824_n.jpg","username":"maxilieml"}}},{"node":[...]
