---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/669371381316733323_213058217?access_token=16192269.01a3945.5132ead0890d4650a196c1f33f8d0748
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"APINotFoundError","code":400,"error_message":"invalid
        media id"}}'
  recorded_at: Wed, 30 Apr 2014 12:41:41 GMT
recorded_with: VCR 2.8.0
