---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/653714645670132444_16192269?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4854'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["scarosso","buybuy"],"location":null,"comments":{"count":23,"data":[{"created_time":"1392188251","text":"@jasminkasapoglu
        great choice! Please send us your shipping details in a direct message and
        then Scarosso can deliver the shoes to you with free delivery!","from":{"username":"buybuythanks","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_887914439_75sq_1392153009.jpg","id":"887914439","full_name":"BuyBuyThanks"},"id":"654044918295263986"},{"created_time":"1392190289","text":"Nice
        bag","from":{"username":"cathy_0925","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_366760475_75sq_1391933145.jpg","id":"366760475","full_name":"Nice
        Meet You!\ud83d\ude1d I Love My Dog!"},"id":"654062014664243301"},{"created_time":"1392194781","text":"@willyoubetrue
        Hi there! These are lovely boots from Scarosso. Please get in touch through
        direct message [...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/839141067433287028_4234966?access_token=4234966.01a3945.010714d3485c432a8c7fd206480d2cdd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":[],"type":"image","location":{"latitude":51.593492712,"name":"www.smjstyle.com","longitude":6.997786139,"id":444694339},"comments":{"count":229,"data":[{"created_time":"1414445121","text":"\ud83d\udc4c!","from":{"username":"chloe_bjrd","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xaf1\/10723873_1492727367647229_1939402746_a.jpg","id":"555655753","full_name":"\u270cCHLO\u00c9\u270c"},"id":"840749072771817364"},{"created_time":"1414486044","text":"@maherjaber23","from":{"username":"hayamerai","profile_picture":"http:\/\/photos-h.ak.instagram.com\/hphotos-ak-xaf1\/107[...]
