---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/831138234853764564_4168338?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4957'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": {"id": "831138234853764564_4168338", "user": {"id": "4168338",
        "full_name": "\ud83d\udc83\ud83c\udffc Shatrova \ud83d\ude98", "profile_picture":
        "https://scontent.cdninstagram.com/vp/e492bb67523fa03bdad1a9bd7fb55ddf/5B3D0C7F/t51.2885-19/s150x150/27880870_162490061211914_1880146784504774656_n.jpg",
        "username": "mashashatrova"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/vp/e964887fdb5bbfc5319862f7c646ab4d/5B402DAB/t51.2885-15/s150x150/e15/10727589_295861500608808_797064362_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/vp/98cc6a841301694ae0665dd15b1c84d2/5B4AF249/t51.2885-15/s320x320/e15/10727589_295861500608808_797064362_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/vp/5d51a19d3020713629f59db04f9b09e6/5B417937/t51.2885-15/e15/10727589_295861500608808_797064362_n.jpg"}},
        "created_time": "1413299420", "caption": {"id": "17851802116008339", "text":
        "\u0415\u0441\u043b\u0438 \u043f\u0440\u0438\u0441\u043c\u043e\u0442\u0440\u0435\u0442\u044c\u0441\u044f
        ,\u0442\u043e \u043c\u043e\u0436\u043d\u043e \u0443\u0432\u0438\u0434\u0435\u0442\u044c,\u0447\u0442\u043e
        \u043d\u0430 \u0441\u0442\u0430\u043a\u0430\u043d\u0447\u0438\u043a\u0435
        \u043d\u0430\u043f\u0438\u0441\u0430\u043d\u043e \"\u041c\u0430\u0445\u0443\u0440\u043a\u0430\"\ud83c\udf43\ud83d\ude04",
        "created_time": "1413299420", "from": {"id": "4168338", "full_name": "\ud83d\udc83\ud83c\udffc
        Shatrova \ud83d\ude98", "profile_picture": "https://scontent.cdninstagram.com/vp/e492bb67523fa03bdad1a9bd7fb55ddf/5B3D0C7F/t51.2885-19/s150x150/27880870_162490061211914_1880146784504774656_n.jpg",
        "username": "mashashatrova"}}, "user_has_liked": false, "likes": {"count":
        22581}, "tags": [], "filter": "Lo-fi", "comments": {"count": 429}, "type":
        "image", "link": "https://www.instagram.com/p/uIy9IvtC3U/", "location": null,
        "attribution": null, "users_in_photo": []}, "meta": {"code": 200}}'
      effective_url: https://api.instagram.com/v1/media/831138234853764564_4168338?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Wed, 14 Mar 2018 07:59:14 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1733976787169752478?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4971'
      Content-Language:
      - en
    body:
      encoding: UTF-[...]
