---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/653714645670132444_16192269?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4257'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"APINotFoundError","code":400,"error_message":"invalid
        media id"}}'
      effective_url: https://api.instagram.com/v1/media/653714645670132444_16192269?client_id=<API_TOKEN>
  recorded_at: Thu, 09 Apr 2015 15:47:42 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/653714645670132444_16192269?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"APINotFoundError","code":400,"error_message":"invalid
        media id"}}'
      effective_url: https://api.instagram.com/v1/media/653714645670132444_16192269?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
  recorded_at: Thu, 09 Apr 2015 15:49:36 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/958084286559626921_264734424?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":["wearestylists\ud83c\udf42\ud83c\udf42\ud83c\udf42"],"type":"image","location":{"latitude":51.483895,"longitude":-0.176866667},"comments":{"count":16,"data":[{"created_time":"1428435123","text":"\ud83d\ude3bMy
        Sofy\ud83d\udc97\ud83d\udc97\ud83d\udc97","from":{"username":"mariawisdom","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/1538536_1537946509786521_1615311115_a.jpg","id":"52970642","full_name":"mariawisdom\ud83c\udf3b"},"id":"958105718270272585"},{"created_time":"1428435677","text":"Woooooooow
        very very very very very sexy sexyyyyy","from":{"username":"hashemsd","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/anonymousUser.jpg","id":"1725377400","full_name":"hashem"},"id":"958110364997068315"},{"created_time":"1428437676","text":"@pennywebster
        shoe","from":{"username":"laura_west_","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphot[...]
