---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/165640/followed-by?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd&cursor=1414444718563
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/165640\/followed-by?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4\u0026cursor=1414430815337","next_cursor":"1414430815337"},"meta":{"code":200},"data":[{"username":"m_h_ds","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11055895_523420197798643_1156290632_a.jpg","id":"1531420763","full_name":"m_h_ds"},{"username":"anapaulanogueira13","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/10004132_334071046789335_144616609_a.jpg","id":"41846944","full_name":"Ana
        Paula Nogueira"},{"username":"kai_linehan","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10864689_359832144199601_2124139033_a.jpg","id":"615923165","full_name":"Kai"},{"username":"ozkardeslermakina","profile_picture":"https:\/\/igcdn-photo[...]
