---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby/media/recent?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4954'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"pagination": {"next_max_tag_id": "AQAnSTL4CYtOqQOil2r5sA6A9vu3ozGiiXY1L13wo72LzYQvjKXuHnP2Cr5RgIeTs1ZVVkaAc4CEj93cQSzCLw4D1-ud_0sFd_HORN0d7fLlE9_i8uk6Dxg197HWmpTR8b8",
        "next_max_id": "AQAnSTL4CYtOqQOil2r5sA6A9vu3ozGiiXY1L13wo72LzYQvjKXuHnP2Cr5RgIeTs1ZVVkaAc4CEj93cQSzCLw4D1-ud_0sFd_HORN0d7fLlE9_i8uk6Dxg197HWmpTR8b8",
        "next_url": "https://api.instagram.com/v1/tags/inspiredby/media/recent?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd\u0026max_tag_id=AQAnSTL4CYtOqQOil2r5sA6A9vu3ozGiiXY1L13wo72LzYQvjKXuHnP2Cr5RgIeTs1ZVVkaAc4CEj93cQSzCLw4D1-ud_0sFd_HORN0d7fLlE9_i8uk6Dxg197HWmpTR8b8",
        "next_min_id": "AQDvQDzsIQjLA_DuYx5--iM-qZ27jOReaPTb3GQjRMfUh5RriNsiJzSPI05d2JRJW7svAhW67IJXdEHbB-e7MhNIUnxbme26UETPDuVCtmF4o8DnQxWSHArILzb-DDe7NA4",
        "min_tag_id": "AQDvQDzsIQjLA_DuYx5--iM-qZ27jOReaPTb3GQjRMfUh5RriNsiJzSPI05d2JRJW7svAhW67IJXdEHbB-e7MhNIUnxbme26UETPDuVCtmF4o8DnQxWSHArILzb-DDe7NA4",
        "deprecation_warning": "next_max_id and min_id are deprecated for this endpoint;
        use min_tag_id and max_tag_id instead"}, "data": [{"id": "1734713449365995507_5705592026",
        "user": {"id": "5705592026", "full_name": "Aaron Mark", "profile_picture":
        "https://scontent.cdninstagram.com/vp/7a4b918861635180f0bdc6ee3a52512d/5B325A6A/t51.2885-19/s150x150/26295995_2087904574825126_3249102545645207552_n.jpg",
        "username": "aaronmarkstylist"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/vp/b6ab25b520175bd99e58dbfc067b022a/5B4B9AAC/t51.2885-15/s150x150/e35/c0.80.640.640/29089689_559495051095595_603408042838458368_n.jpg"},
        "low_resolution": {"width": 320, "height": 400, "url": "https://scontent.cdninstagram.com/vp/134198b75e31089363d90f7815429029/5B2C5384/t51.2885-15/e35/p320x320/29089689_559495051095595_603408042838458368_n.jpg"},
        "standard_resolution": {"width": 640, "height": 800, "url": "https://scontent.cdninstagram.com/vp/f30c2db223694fe44caabc55c5486bdc/5B2973AE/t51.2885-15/e35/29089689_559495051095595_603408042838458368_n.jpg"}},
        "created_time": "1521013979", "caption": {"id": "17930771572041024", "text":
        "Loving this ensemble by @johnlewisstylingleeds - well done ladies, keep up
        the great styling work \ud83d\udc4d\ud83c\udffb\ud83d\ude0a\n.\n\"Streetstyle
        edit: More London Fashion Week banter to get us past #humpday\ud83e\udd17
        and It just wouldn\u2019t be us if we didn''t give you a detail shot! We love
        that scollop edge on the Ted Baker cami and the word from #LFW is that mini
        bags are still your must have accesory. We think this black leather Reiss
        mini bag ticks all the right boxes. Not only will you have an accesory that
        goes with everything but you will also find your keys and phone much faster\ud83d\ude09!
        Are you loving the mini bag trend or will you be sticking to your shopper
        bag? \ud83e\udd14\n.\n.\n.\n.\n.\n.\n.\n.\n.\n#johnlewis #reiss #tedbaker
        #minibag #accesories #stylist #stylistpick #streetstyle #todayslook #inspiredlook
        #outfitideas #ootd #lookbook #keytrends #LFW #whattowear #stripedsuit #styleideas
        #fashion #details #monochrome #todayslook #inspiredby #accesories #tailoring
        #lookdujour #wiw #leedsfashion", "created_time": "1521013979", "from": {"id":
        "5705592026", "full_name": "Aaron Mark", "profile_picture": "https://scontent.cdninstagram.com/vp/7a4b918861635180f0bdc6ee3a52512d/5B325A6A/t51.2885-19/s150x150/26295995_2087904574825126_3249102545645207552_n.jpg",
        "username": "aaronmarkstylist"}}, "user_has_liked": false, "likes": {"count":
        5}, "tags": ["outfitideas", "fashion", "stylistpick", "inspiredlook", "styleideas",
        "monochrome", "accesories", "tedbaker", "keytrends", "lookbook", "leedsfashion",
        "todayslook", "stylist", "details", "humpday\ud83e\udd17", "tailoring", "whattowear",
        "streetstyle", "stripedsuit", "reiss", "ootd", "minibag", "wiw", "johnlewis",
        "inspiredby", "lookdujour", "lfw"], "filter": "Normal", "comments": {"count":
        0}, "type": "image", "link": "https://www.instagram.com/p/BgS8LD4jX_z/", "location":
        null, "attribution": null, "users_in_photo": []}, {"id": "1734713429131914915_6893533925",
        "user": {"id": "6893533925", "full_name": "Holzofenb\u00e4ckerei Klusplatz",
        "profile_picture": "https://scontent.cdninstagram.com/vp/1b66b94542894ef8fc22f9e16dd6834b/5B3AF8E4/t51.2885-19/s150x150/26865770_577902369209982_3105188662686515200_n.jpg",
        "username": "holzofenbaeckerei_klusplatz"}, "images": {"thumbnail": {"width":
        150, "height": 150, "url": "https://scontent.cdninstagram.com/vp/1075b6d6d659b569fee9079b6695[...]
