---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4963'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": {"id": "45364550", "username": "xiazek", "profile_picture":
        "https://scontent.cdninstagram.com/vp/698235dada678c005f20ed7cdca89f91/5B3BB0AB/t51.2885-19/11939555_723875314425165_599316154_a.jpg",
        "full_name": "Maciej K.", "bio": "Follow me for sunny photos !!!", "website":
        "http://krakow.repertuary.pl/", "is_business": false, "counts": {"media":
        599, "follows": 296, "followed_by": 162}}, "meta": {"code": 200}}'
      effective_url: https://api.instagram.com/v1/users/45364550?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Wed, 14 Mar 2018 07:59:13 GMT
- request:
    method: get
    uri: https://www.instagram.com/xiazek/?__a=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"logging_page_id":"profilePage_45364550","show_suggested_profiles":false,"graphql":{"user":{"biography":"Follow
        me for sunny photos !!!","blocked_by_viewer":false,"country_block":false,"external_url":"http://krakow.repertuary.pl/","external_url_linkshimmed":"https://l.instagram.com/?u=http%3A%2F%2Fkrakow.repertuary.pl%2F&e=ATOCDIzkXmD20Co2d_BuL6Sgoxy1aAtrVlApes11Jv32SH3VXVUgHtbSzzu8GZyXXUgpx5xW","edge_followed_by":{"count":166},"followed_by_viewer":false,"edge_follow":{"count":301},"follows_viewer":false,"full_name":"Maciej
        K.","has_blocked_viewer":false,"has_requested_viewer":false,"id":"45364550","is_private":false,"is_verified":false,"mutual_followers":null,"profile_pic_url":"https://scontent-waw1-1.cdninstagram.com/vp/0bc05807133a21afb32bedd9534c9757/5B633DAB/t51.2885-19/11939555_723875314425165_599316154_a.jpg","profile_pic_url_hd":"https://scontent-waw1-1.cdninstagram.com/vp/0bc05807133a21afb32bedd9534c9757/5B633DAB/t51.2885-19/11939555_723875314425165_599316154_a.jpg","requested_by_viewer":false,"username":"xiazek","connected_fb_page":null,"edge_owner_to_timeline_media":{"count":607,"page_info":{"has_next_page":true,"end_cursor":"AQCkZkrITLdRFKZ-gdZl7TfoekCkHv_qNF8nkdvzWfDtjOgd7_j9iLS01YEoehLovB-4Jyk38V1ahKIc8IR3mgffCV5OuHawAtuKp62L8a3DEQ"},"edges":[{"node":{"__typename":"GraphImage","id":"1748545986965276808","edge_media_to_caption":{"edges":[{"node":{"text":"Almost
        like #rendered. .\n#architecture #podhale #zakopane #dom #house"}}]},"shortcode":"BhEFU-agAiI","edge_media_to_comment":{"count":2},"comments_disabled":false,"taken_at_timestamp":1522662946,"dimensions":{"height":896,"width":1080},"display_url":"https://scontent-waw1-1.cdninstagram.com/vp/84ab5c74050ef3785d07be9f73910dad/5B63E021/t51.2885-15/e35/29715237_2031109283844407_8612024351832670208_n.jpg","edge_liked_by":{"count":13},"edge_media_preview_like":{"count":13},"gating_info":null,"media_preview":"ACoibEjD7p+op8uoKFKqfm6dOnv/AIUyecRhtq87evpnucdOKysgjHOKqcuworuXE1BkGG+ZR0J4P0J7/wA6tRXcbLliFPp1rK7Yx/n1/CmBuenWpUimvU6CO4jkztOcdafvHrWVZFQW3D0wf6Vc3J61asyGMFkdu5ecjnP9Mdqa1mw42bgPT36/ypsF82NgAzjk+38h9K1IJC4yTlsD8Dk//rrPlT/4cu7Rk/ZCgJ2t8wx375pgsyR0JPrg10tBNLlQczMaO0c5DKBySCc9D24NS/ZmHZf1/wAa0jUfHrV2Fc5a3AJB75/xrc07qfoP60UVK3DoaBPzY9j/ADFDniiirEHes94k3H5R1PYUUU0I/9k=","owner":{"id":"45364550"},"thumbnail_src":"https://scontent-waw1-1.cdninstagram.com/vp/d0b2766cdbca0509464ac09571016b43/5B5D571A/t51.2885-15/s640x640/sh0.08/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","thumbnail_resources":[{"src":"https://scontent-waw1-1.cdninstagram.com/vp/bd61fbff0c900d0501bebee898865c62/5B6CC659/t51.2885-15/s150x150/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","config_width":150,"config_height":150},{"src":"https://scontent-waw1-1.cdninstagram.com/vp/1d091e368d90a3e7e2fb391c8c191398/5B67D2CF/t51.2885-15/s240x240/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","config_width":240,"config_height":240},{"src":"https://scontent-waw1-1.cdninstagram.com/vp/86e2695778d1cf933eb7b279898a99f3/5B6D0E27/t51.2885-15/s320x320/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","config_width":320,"config_height":320},{"src":"https://scontent-waw1-1.cdninstagram.com/vp/bc8a708634e5b96042ff582d60baf115/5B650D0E/t51.2885-15/s480x480/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","config_width":480,"config_height":480},{"src":"https://scontent-waw1-1.cdninstagram.com/vp/d0b2766cdbca0509464ac09571016b43/5B5D571A/t51.2885-15/s640x640/sh0.08/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","config_width":640,"config_height":640}],"is_video":false}},{"node":{"__typename":"GraphSidecar","id":"1748047653687644460","edge_media_to_caption":{"edges":[{"node":{"text":"#easter
        #2018 #winter"}}]},"shortcode":"BhCUBRYgdEs","edge_media_to_comment":{"count":2},"comments_disabled":false,"taken_at_timestamp":1522603540,"dimensions":{"height":750,"width":750},"display_url":"https://scontent-waw1-1.cdninstagram.com/vp/c500fc6e5aba1243c94b3d50e1af1d49/5AC99636/t51.2885-15/e35/29402025_405117329951627_892969888916701184_n.jpg","edge_liked_by[...]
