---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/3537544360?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4962'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 400, "error_type": "APINotFoundError", "error_message":
        "this user does not exist"}}'
      effective_url: https://api.instagram.com/v1/users/3537544360?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Wed, 14 Mar 2018 07:59:13 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/3899278747?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4950'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": {"id": "3899278747", "username": "kkempin", "profile_picture":
        "https://scontent.cdninstagram.com/vp/29fba906643aaef54adce1e494fd8ef2/5B371138/t51.2885-19/s150x150/14156298_905610876252361_2101762856_a.jpg",
        "full_name": "Krzysztof Kempi\u0144ski", "bio": "* Head of IT @ Brandnew IO
        \ud83d\udc68\u200d\ud83d\udcbc\n* Ruby/Elixir/iOS dev \ud83d\udc68\u200d\ud83d\udcbb\n*
        Blog kkempin.pl \u270d\ufe0f\n* YouTube swiatoczamiprogramisty.pl \ud83d\udcf9\n*
        Podcast porozmawiajmyoit.pl \ud83c\udf99", "website": "http://kkempin.pl/",
        "is_business": true, "counts": {"media": 88, "follows": 253, "followed_by":
        128}}, "meta": {"code": 200}}'
      effective_url: https://api.instagram.com/v1/users/3899278747?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Wed, 14 Mar 2018 08:43:07 GMT
recorded_with: VCR 2.9.3
