---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4963'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": {"id": "45364550", "username": "xiazek", "profile_picture":
        "https://scontent.cdninstagram.com/vp/698235dada678c005f20ed7cdca89f91/5B3BB0AB/t51.2885-19/11939555_723875314425165_599316154_a.jpg",
        "full_name": "Maciej K.", "bio": "Follow me for sunny photos !!!", "website":
        "http://krakow.repertuary.pl/", "is_business": false, "counts": {"media":
        599, "follows": 296, "followed_by": 162}}, "meta": {"code": 200}}'
      effective_url: https://api.instagram.com/v1/users/45364550?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Wed, 14 Mar 2018 07:59:13 GMT
recorded_with: VCR 2.9.3
