---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular?access_token=4907942.01a3945.d24a9419c2794fc987b60dcab98e22fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"videos":{"low_resolution":{"url":"http:\/\/distilleryimage4.s3.amazonaws.com\/6b6ddd52d05a11e394130002c9dce3ac_102.mp4","width":480,"height":480},"standard_resolution":{"url":"http:\/\/distilleryimage4.s3.amazonaws.com\/6b6ddd52d05a11e394130002c9dce3ac_101.mp4","width":640,"height":640}},"tags":[],"type":"video","location":null,"comments":{"count":703,"data":[{"created_time":"1398861587","text":"hahahahahahahahahahaha
        @seth_hit","from":{"username":"braysonpherai","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_249677119_75sq_1392486067.jpg","id":"249677119","full_name":"Brayson
        Pherai"},"id":"710024917280181277"},{"created_time":"1398861605","text":"@reets29
        hahaha this is me!","from":{"username":"milleerx","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_43715547_75sq_1392514756.jpg","id":"43715547","full_name":"milleerx"},"id":"710025064080821283"},{"created_time":"1398861612","text":"@ihavamr
        \u05d8\u05d0\u05d9\u05d1 \u05d1\u05d9\u05e1\u05d9\u05d3\u05e8 \ud83d\udc4c","from":{"username":"hiba296","profile_picture[...]
