---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby/media/recent?access_token=4907942.01a3945.d24a9419c2794fc987b60dcab98e22fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
    body:
      encoding: UTF-8
      string: ! '{"pagination":{"next_max_tag_id":"1398847399983822","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1398847399983822","next_min_id":"1398886208803327","min_tag_id":"1398886208803327","next_url":"https:\/\/api.instagram.com\/v1\/tags\/inspiredby\/media\/recent?access_token=4907942.01a3945.d24a9419c2794fc987b60dcab98e22fe\u0026max_tag_id=1398847399983822"},"meta":{"code":200},"data":[{"attribution":null,"tags":["equality","no","czech","alves","racism","to","say","saynotoracism","boys","inspiredby"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Mayfair","created_time":"1398861008","link":"http:\/\/instagram.com\/p\/naf3uCHews\/","likes":{"count":5,"data":[{"username":"doriexcy","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_996783112_75sq_1390135640.jpg","id":"996783112","full_name":"doriexcy
        Bergen"},{"username":"cerealkilller","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_478800188_75sq_1397154842.jpg","id":"478800188","full_name":"Vlasta
        Cabanov\u00e1"},{"username":"martiihuana","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_411501170_75sq_1395253379.jpg","id":"411501170","full_name":"Martyna
        Zet"},{"username":"sramahokej","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_634054196_75sq_1382947545.jpg","id":"634054196","full_name":"Richard
        \u0160r\u00e1mek"}]},"images":{"low_resolution":{"url":"http:\/\/distilleryimage4.s3.amazonaws.com\/8ad7e14ed06211e3861a0002c9d6e4c0_6.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/distilleryimage4.s3.amazonaws.com\/8ad7e14ed06211e3861a0002c9d6e4c0_5.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/distilleryimage4.s3.amazonaws.com\/8ad7e14ed06211e3861a0002c9d6e4c0_8.jpg","width":640,"height":640}},"users_in_photo":[{"position":{"y":0.35,"x":0.7265625},"user":{"username":"carloskcz","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_338661914_75sq_1381353892.jpg","id":"338661914","full_name":"Karel"}},{"position":{"y":0.3953125,"x":0.234375},"user":{"username":"skutic","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_337791728_75sq_1398630957.jpg","id":"337791728","full_name":"Jan
        \u0160kuta"}}],"caption":{"created_time":"1398861008","text":"Say no to racism!
        #say#no#to#racism#saynotoracism#Czech#boys#equality#Inspiredby#Alves","from":{"username":"carloskcz","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_338661914_75sq_1381353892.jpg","id":"338661914","full_name":"Karel"},"id":"710020059939859875"},"user_has_liked":false,"id":"710020059704978476_338661914","user":{"username":"carloskcz","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_338661914_75sq_1381353892.jpg","full_name":"Karel","bio":"","id":"338661914"}},{"attribution":null,"tags":["beautiful","cute","infant","yogisinbloom","love","picoftheday","summer","sweet","instababy","namaste","sleeping","motivation","sleep","yogagram","cuddly","children","fitspo","little","yoga","yogini","inspiration","art","travel","yogi","igbabies","young","tiny","inspiredyogis","inspiredby","babies","lovely","adorable","toddler","photooftheday","life","yogagirl","quote","yogainspiration","feeltheyogahigh","yogaeverydamnday","baby","childrenphoto",[...]
[...]
