---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/maitriye/?__a=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"logging_page_id":"profilePage_1016919403","show_suggested_profiles":false,"graphql":{"user":{"biography":"NYFA||
        DPS RKP\u201917||                                Be in this nowness. Live
        in this suchness\ud83c\udf0c","blocked_by_viewer":false,"country_block":false,"external_url":null,"external_url_linkshimmed":null,"edge_followed_by":{"count":187},"followed_by_viewer":false,"edge_follow":{"count":233},"follows_viewer":false,"full_name":"Maitriye
        Aggarwal","has_blocked_viewer":false,"has_requested_viewer":false,"id":"1016919403","is_private":true,"is_verified":false,"mutual_followers":null,"profile_pic_url":"https://instagram.fdel8-1.fna.fbcdn.net/vp/85d5344cc6a5b545e8b74b6f3e015ed6/5B6E9506/t51.2885-19/s150x150/28763859_339258453250964_8313872717191315456_n.jpg","profile_pic_url_hd":"https://instagram.fdel8-1.fna.fbcdn.net/vp/1402fee2a8993344a6e6984ec4561deb/5B68ECF6/t51.2885-19/s320x320/28763859_339258453250964_8313872717191315456_n.jpg","requested_by_viewer":false,"username":"maitriye","connected_fb_page":null,"edge_owner_to_timeline_media":{"count":5,"page_info":{"has_next_page":false,"end_cursor":"AQDN4P52Xy34xTSpR8s8Fv8LAGdq0JoEEsNdmRNEC6MYQ_rdMYxZolSki3UN-xydYaw"},"edges":[]},"edge_saved_media":{"count":0,"page_info":{"has_next_page":false,"end_cursor":null},"edges":[]},"edge_media_collections":{"count":0,"page_info":{"has_next_page":false,"end_cursor":null},"edges":[]}}}}'
      effective_url: https://www.instagram.com/maitriye/?__a=1
  recorded_at: Tue, 10 Apr 2018 08:04:38 GMT
recorded_with: VCR 3.0.3
