---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4&q=inspiredby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"media_count":54481,"name":"inspiredby"},{"media_count":91550,"name":"inspiredbypets"},{"media_count":19785,"name":"inspiredbykristina"},{"media_count":13054,"name":"inspiredbynature"},{"media_count":10877,"name":"inspiredbyiceland"},{"media_count":7724,"name":"inspiredbymichigan"},{"media_count":7324,"name":"inspiredbythemoment"},{"media_count":7102,"name":"inspiredbyyou"},{"media_count":4294,"name":"inspiredbyillume"},{"media_count":4230,"name":"inspiredbygippsland"},{"media_count":4163,"name":"inspiredbystarbucks"},{"m[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/search?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4&q=sun
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"media_count":102415622,"name":"sun"}]}'
      effective_url: https://api.instagram.com/v1/tags/search?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4&q=sun
  recorded_at: Mon, 04 May 2015 13:46:18 GMT
recorded_with: VCR 2.9.3
