---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/3537544360?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-ratelimit-remaining:
      - '4978'
      Content-Language:
      - en
      x-ratelimit-limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": {"username": "y_myargaaretfha88", "bio":
        "When you smile,sun shine.   \ud83d\udc3c \ud83c\udf6d \ud83c\udfa0 \ud83c
        \u26ea Thanks forfollwing \u2728", "website": "", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13628486_630123880487962_679184041_a.jpg",
        "full_name": "\u3086\u308a\u308a\u3093\u2605\u2606", "counts": {"media": 0,
        "followed_by": 0, "follows": 266}, "id": "3537544360"}}'
      effective_url: https://api.instagram.com/v1/users/3537544360?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
  recorded_at: Thu, 14 Jul 2016 10:24:03 GMT
recorded_with: VCR 2.9.3
