---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/696433196675953608_225072619/comments?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4994'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"created_time":"1432741245","text":"\ue022","from":{"username":"letsleaveitempty","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_225072619_75sq_1348157237.jpg","id":"225072619","full_name":""},"id":"994228084496986729"}]}'
      effective_url: https://api.instagram.com/v1/media/696433196675953608_225072619/comments?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
  recorded_at: Wed, 27 May 2015 15:41:33 GMT
recorded_with: VCR 2.9.3
