---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/696433196675953608_225072619/comments?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4959'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [], "meta": {"code": 200}}'
      effective_url: https://api.instagram.com/v1/media/696433196675953608_225072619/comments?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Wed, 14 Mar 2018 07:59:14 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1733976787169752478/comments?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4969'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [{"id": "17917610338109844", "from": {"id": "6210490399",
        "username": "madrosci_cytaty_inspiracje", "full_name": "\u017byciowe M\u0105dro\u015bci
        Dla Ka\u017cdego\ud83d\udcda\ud83d\udcd3", "profile_picture": "https://scontent.cdninstagram.com/vp/9c33a9c2b1ba7a897b06750f64d9c44c/5B42EBA4/t51.2885-19/s150x150/22794328_1909070829411233_4458249170771247104_n.jpg"},
        "text": "\"Kto goni dwa zaj\u0105ce nie z\u0142apie ani jednego\"\ud83c\udf1f
        Kto chce zobaczy\u0107 wi\u0119cej m\u0105dro\u015bci zapraszamy do obserwowania
        naszego profilu \ud83d\ude18", "created_time": "1520982063"}, {"id": "17903895811191308",
        "from": {"id": "2533577219", "username": "lukas_soltys", "full_name": "\ud83d\udca0
        \u0141ukasz So\u0142tys", "profile_picture": "https://scontent.cdninstagram.com/vp/fdb3b5bfcadb546ad8cfa2453f98b7e9/5B3C69D2/t51.2885-19/s150x150/12729522_221399748204078_598039377_a.jpg"},
        "text": "\ud83d\udc4d\ud83d\udc4f\ud83c\udffc", "created_time": "1520991138"}],
        "meta": {"code": 200}}'
      effective_url: https://api.instagram.com/v1/media/1733976787169752478/comments?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Wed, 14 Mar 2018 08:27:06 GMT
recorded_with: VCR 2.9.3
