---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4859'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"attribution":null,"videos":{"low_resolution":{"url":"http:\/\/origincache-prn.fbcdn.net\/10322291_680865875312885_851721125_a.mp4","width":480,"height":480},"standard_resolution":{"url":"http:\/\/origincache-frc.fbcdn.net\/10333969_1469753623258297_124359183_n.mp4","width":640,"height":640}},"tags":[],"location":null,"comments":{"count":62,"data":[{"created_time":"1398860777","text":"\u0627\u0648\u0627\u0641\u0642
        \u0627\u0644\u064a \u0641\u0648\u0642 \u0648 \u0628\u0634\u062f\u0647 #\u0627\u0644\u062a\u062c\u0646\u064a\u062f
        \ud83d\udc94\ud83c\udfc3","from":{"username":"fayalnassebi","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_146199352_75sq_1394203313.jpg","id":"146199352","full_name":"Fay
        Alnassebi"},"id":"710018119570974419"},{"created_time":"1398860804","text":"@anas_bogaith
        @ysf_altannak \ud83d\udc94","from":{"username":"boo_5amees","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_13351553_75sq_1376120550.jpg","id":"13351553","full_name":"Hamad
        Al-zwayed"},"id":"710018347237795551"},{"created_time":"1398861017","text":"@albakery","from":{"username":"mohalomar","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/prof[...]
