---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": {"username": "zhenechkaguseva", "bio":
        "Model, actress \u0420\u0435\u043a\u043b\u0430\u043c\u0430 +79096666652 \ud83d\udce9gusevaevgeniia@gmail.com
        \u0412\u043b\u0430\u0434\u0435\u043b\u0438\u0446\u0430 Boutique GUSEVY Moscow
        \u0422\u0426\"\u041f\u0440\u0438\u043d\u0446 \u041f\u043b\u0430\u0437\u0430\",
        \u043c.\u0422\u0435\u043f\u043b\u044b\u0439 \u0441\u0442\u0430\u043d, 2 \u044d\u0442\u0430\u0436.
        8(499)343-43-84", "website": "https://vk.com/id96545624", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13734359_1755933124685271_626363376_a.jpg",
        "full_name": "EVGENIIA GUSEVA", "counts": {"media": 2745, "followed_by": 1012915,
        "follows": 220}, "id": "533244285"}}'
      effective_url: https://api.instagram.com/v1/users/45364550?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
  recorded_at: Thu, 29 Jan 2015 12:20:06 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"error_type": "OAuthAccessTokenException", "code": 400, "error_message":
        "The access_token provided is invalid."}}'
      effective_url: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
  recorded_at: Fri, 02 Sep 2016 06:45:29 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"error_type": "OAuthAccessTokenException", "code": 400, "error_message":
        "The access_token provided is invalid."}}'
      effective_url: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
  recorded_at: Fri, 02 Sep 2016 06:47:23 GMT
recorded_with: VCR 3.0.3
