---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4383'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"username":"alison__bardin","bio":"nice If your nice to me ill  nice back. \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ud83d\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ude48\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ud83d\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ude0d","website":"","profile_picture":"https://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg","full_name":"\u6c6a\u795dSallyanne","counts":{"media":0,"followed_by":0,"follows":208},"id":"45364550"}}'
      effective_url: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
  recorded_at: Thu, 09 Apr 2015 11:54:22 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"error_type": "OAuthAccessTokenException", "code": 400, "error_message":
        "The access_token provided is invalid."}}'
      effective_url: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
  recorded_at: Tue, 23 Aug 2016 14:44:26 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"error_type": "OAuthAccessTokenException", "code": 400, "error_message":
        "The access_token provided is invalid."}}'
      effective_url: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
  recorded_at: Tue, 23 Aug 2016 14:44:29 GMT
recorded_with: VCR 3.0.3
