---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/165640/followed-by?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/165640\/followed-by?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4\u0026cursor=1414630850768","next_cursor":"1414630850768"},"meta":{"code":200},"data":[{"username":"instanbulphoto","bio":"\u0130stanbul
        Foto\u011fraflar\u0131\n#instanbulphoto\n#instanbulfoto","website":"","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xfa1\/10729193_779629555427289_628733302_a.jpg","full_name":"","id":"1544643028"},{"username":"lizzielisunsosun","bio":"I
        expect you to communicate. webcam and chat without payment ... my nickname
        HotConny","website":"http:\/\/busticket-turkey.com\/go\/V5s9L9yAhA.php","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xaf1\/10731804_1566852800204970_1828294181_a.jpg","full_name":"","id":"1545523272"},{"username":"gretalisunsosun","bio":"","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/anonymousUser.jpg"[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/165640/followed-by?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4&cursor=1414444718563
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
    body:[...]
