---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/696433196675953608_225072619/likes?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4995'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"c_ristiano07","profile_picture":"https:\/\/igcdn-photos-b-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/1596882_935052406524361_329510951_a.jpg","id":"1120668581","full_name":""},{"username":"lifestyle_mallorca","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_646026213_75sq_1395738798.jpg","id":"646026213","full_name":"I
        \u2764\ufe0f MALLORCA"},{"username":"albert_fiol","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/10683772_708889945846228_392256375_a.jpg","id":"366176478","full_name":"Albert
        Fiol"},{"username":"ainwen8","profile_picture":"https:\/\/instagramimages-a.akamaihd.n[...]
