---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/696433196675953608_225072619/likes?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4961'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [{"id": "274509399", "username": "faustomartin", "full_name":
        "Fausto Mart\u00edn", "profile_picture": "https://scontent.cdninstagram.com/vp/753e4152957bb34a1b9f98c8a924e43b/5B4A90C8/t51.2885-19/s150x150/14553164_501659826670865_7462742973743104000_n.jpg"},
        {"id": "30644266", "username": "albertllabres", "full_name": "Albert Llabr\u00e9s",
        "profile_picture": "https://scontent.cdninstagram.com/vp/134d9c45c778f20f6454e2fd18677b82/5B46D2B0/t51.2885-19/s150x150/19425174_170688156803824_1201366450783125504_a.jpg"},
        {"id": "366176478", "username": "albert_fiol", "full_name": "A[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1733976787169752478/likes?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4970'
      Content-Language:
      - en
    body:
      encoding[...]
