---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '187'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": {"name": "inspiredby", "media_count": 181697}, "meta": {"code":
        200}}'
      effective_url: https://api.instagram.com/v1/tags/inspiredby?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Tue, 10 Apr 2018 07:50:39 GMT
recorded_with: VCR 3.0.3
