---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/graphql/query/?query_hash=42323d64886122307be10013ad2dcc44&variables=%7B%22id%22%3A1016919403%2C%22first%22%3A12%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data":{"user":{"edge_owner_to_timeline_media":{"count":5,"page_info":{"has_next_page":false,"end_cursor":"AQCh2qD2d-Y-5coaswRJ19FqtPm19oryuaChCRxGtTIUlZa0H3t-iibU7jaMogOfTkA"},"edges":[]}}},"status":"ok"}'
      effective_url: https://www.instagram.com/graphql/query/?query_hash=42323d64886122307be10013ad2dcc44&variables=%7B%22id%22%3A1016919403%2C%22first%22%3A12%7D
  recorded_at: Mon, 09 Apr 2018 11:41:53 GMT
recorded_with: VCR 3.0.3
