---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4383'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"username":"xiazek","bio":"\u003e\u003e\u003e
        Follow me \u003c\u003c\u003c \nfor sunny photos !!!","website":"http:\/\/krakow.repertuary.pl\/","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_45364550_75sq_1378321024.jpg","full_name":"Maciej
        K.","counts":{"media":356,"followed_by":80,"follows":156},"id":"45364550"}}'
      effective_url: https://api.instagram.com/v1/users/45364550?client_id=<API_TOKEN>
  recorded_at: Thu, 09 Apr 2015 11:54:22 GMT
recorded_with: VCR 2.9.3
