---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4955'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 400, "error_type": "APINotFoundError", "error_message":
        "invalid media id"}}'
      effective_url: https://api.instagram.com/v1/media/popular?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
  recorded_at: Wed, 14 Mar 2018 07:59:15 GMT
recorded_with: VCR 2.9.3
