---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"media_count":54271,"name":"inspiredby"}}'
      effective_url: https://api.instagram.com/v1/tags/inspiredby?client_id=<API_TOKEN>
  recorded_at: Thu, 30 Apr 2015 14:28:21 GMT
recorded_with: VCR 2.9.3
