---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"username":"xiazek","bio":"\u003e\u003e\u003e
        Follow me \u003c\u003c\u003c \nfor sunny photos !!!","website":"http:\/\/krakow.repertuary.pl\/","profile_picture":"https:\/\/instagramimages-a.akamaihd.net\/profiles\/profile_45364550_75sq_1378321024.jpg","full_name":"Maciej
        K.","counts":{"media":328,"followed_by":73,"follows":145},"id":"45364550"}}'
      effective_url: https://api.instagram.com/v1/users/45364550?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
  recorded_at: Thu, 29 Jan 2015 12:20:06 GMT
recorded_with: VCR 2.9.3
