---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"media_count":54271,"name":"inspiredby"}}'
      effective_url: https://api.instagram.com/v1/tags/inspiredby?access_token=1491324783.1fb234f.a3e00b2881f342e39efb3a0b43941db4
  recorded_at: Thu, 30 Apr 2015 13:04:58 GMT
recorded_with: VCR 2.9.3
