---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/popular?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '500'
      x-ratelimit-remaining:
      - '454'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 400, "error_type": "OAuthAccessTokenException", "error_message":
        "The access_token provided is invalid."}}'
      effective_url: https://api.instagram.com/v1/media/popular?client_id=<API_TOKEN>
  recorded_at: Wed, 14 Mar 2018 07:59:15 GMT
recorded_with: VCR 2.9.3
