---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/inspiredby/media/recent?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '183'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"pagination": {"next_max_tag_id": "AQDI74JGGKV4Vf2lB4SBek8WT-wsNoo3XacWYJURVzkvrB-SI90WsJ9BW23IHnZhqWlb6EbR1tXWdTgMwXHAfeH-DajPUhzUPDG_gHNrkgHzDdCaVPzcAJgrlMNa8p8EmJg",
        "next_max_id": "AQDI74JGGKV4Vf2lB4SBek8WT-wsNoo3XacWYJURVzkvrB-SI90WsJ9BW23IHnZhqWlb6EbR1tXWdTgMwXHAfeH-DajPUhzUPDG_gHNrkgHzDdCaVPzcAJgrlMNa8p8EmJg",
        "next_url": "https://api.instagram.com/v1/tags/inspiredby/media/recent?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd\u0026max_tag_id=AQDI74JGGKV4Vf2lB4SBek8WT-wsNoo3XacWYJURVzkvrB-SI90WsJ9BW23IHnZhqWlb6EbR1tXWdTgMwXHAfeH-DajPUhzUPDG_gHNrkgHzDdCaVPzcAJgrlMNa8p8EmJg",
        "next_min_id": "AQDqHuslRk5SXIUiq_FqnfdnKVjRSOpWzatnAJKOKhrEFFXE23wJeZNp-uYZz-8TmAOO479qdwxV8QJYjGj8jSLU3dWAkOO_b-PBn2NaGWZoHkZjrzzE_JLimUHF-usR_ys",
        "min_tag_id": "AQDqHuslRk5SXIUiq_FqnfdnKVjRSOpWzatnAJKOKhrEFFXE23wJeZNp-uYZz-8TmAOO479qdwxV8QJYjGj8jSLU3dWAkOO_b-PBn2NaGWZoHkZjrzzE_JLimUHF-usR_ys",
        "deprecation_warning": "next_max_id and min_id are deprecated for this endpoint;
        use min_tag_id and max_tag_id instead"}, "data": [{"id": "1754279385752870222_1940934226",
        "user": {"username": "coffeewith.milk"}, "images": {"thumbnail": {"width":
        150, "height": 150, "url": "https://scontent.cdninstagram.com/vp/986f6c9d1088474791d74a72a976245b/5B63A204/t51.2885-15/s150x150/e35/30077465_575121946184775_8449451786615390208_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/vp/2ec797daa5f3d81be48c2d480a808090/5B711443/t51.2885-15/s320x320/e35/30077465_575121946184775_8449451786615390208_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/vp/f04f29fce5e1d10d0b8519b9eb5c66b2/5B633500/t51.2885-15/s640x640/sh0.08/e35/30077465_575121946184775_8449451786615390208_n.jpg"}},
        "created_time": "1523346420", "caption": {"id": "17909132236157710", "text":
        "PRAVA KO\u017dA\nGENUINE LEATHER\nVERA PELLE\nECHTES LEDER\nmodel: 70.30\ncena/price:
        9.750,00 RSD\ndimenzije/dimensions: 29x24x19 cm\nte\u017eina/weight: 1,000
        kg\n#coffeewithmilk #inspired70s #womanfashion #womanleatherbag #style #bestquality
        #leatherproducts #leatherbag #leatheraccessories #novisad #fromserbia #fromnovisad
        #fashion #leather #instyle #lowcostbrand #design #leathergoods #verapelle
        #stylish #cwm #model7030 #inspiredby #sweetsandflowers", "created_time": "1523346420",
        "from": {"username": "coffeewith.milk"}}, "user_has_liked": false, "likes":
        {"count": 5}, "tags": ["leatherbag", "fromnovisad", "fromserbia", "inspired70s",
        "leatheraccessories", "model7030", "leatherproducts", "stylish", "novisad",
        "leather", "womanleatherbag", "design", "coffeewithmilk", "bestquality", "lowcostbrand",
        "fashion", "instyle", "style", "leathergoods", "cwm", "inspiredby", "womanfashion",
        "sweetsandflowers", "verapelle"], "filter": "Normal", "comments": {"count":
        0}, "type": "carousel", "link": "https://www.instagram.com/p/BhYc86Ilx1O/",
        "location": null, "attribution": null, "users_in_photo": [], "carousel_media":
        [{"images": {"thumbnail": {"width": 150, "height": 150, "url": "https://scontent.cdninstagram.com/vp/986f6c9d1088474791d74a72a976245b/5B63A204/t51.2885-15/s150x150/e35/30077465_575121946184775_8449451786615390208_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/vp/2ec797daa5f3d81be48c2d480a808090/5B711443/t51.2885-15/s320x320/e35/30077465_575121946184775_8449451786615390208_n.jpg"},
        "standard_resolution": {"width": 640, "[...]
