---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550/media/recent?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '500'
      x-ratelimit-remaining:
      - '462'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 400, "error_type": "OAuthAccessTokenException", "error_message":
        "The access_token provided is invalid."}}'
      effective_url: https://api.instagram.com/v1/users/45364550/media/recent?client_id=<API_TOKEN>
  recorded_at: Wed, 14 Mar 2018 07:59:11 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550/media/recent?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4968'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"pagination": {"next_max_id": "1662244701161523516_45364550", "next_url":
        "https://api.instagram.com/v1/users/45364550/media/recent?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd\u0026max_id=1662244701161523516_45364550"},
        "data": [{"id": "1734723301416484092_45364550", "user": {"id": "45364550",
        "full_name": "Maciej K.", "profile_picture": "https://scontent.cdninstagram.com/vp/698235dada678c005f20ed7cdca89f91/5B3BB0AB/t51.2885-19/11939555_723875314425165_599316154_a.jpg",
        "username": "xiazek"}, "images": {"thumbnail": {"width": 150, "height": 150,
        "url": "https://scontent.cdninstagram.com/vp/4838927955fe5e9570feb1e221fee187/5B2CDE14/t51.2885-15/s150x150/e35/c135.0.810.810/28766226_152014472115493_2271245346837364736_n.jpg"},
        "low_resolution": {"width": 320, "height": 240, "url": "https://scontent.cdninstagram.com/vp/87aa1b29ed16301449317dd5d767602f/5B3F5D7F/t51.2885-15/s320x320/e35/28766226_152014472115493_2271245346837364736_n.jpg"},
        "standard_resolution": {"width": 640, "height": 480, "url": "https://scontent.cdninstagram.com/vp/163902576377c8849e56529acd447d6f/5B29CA3C/t51.2885-15/s640x640/sh0.08/e35/28766226_152014472115493_2271245346837364736_n.jpg"}},
        "created_time": "1521015154", "caption": {"id": "17912098078088040", "text":
        "#smogfree #air", "created_time": "1521015154", "from": {"id": "45364550",
        "full_name": "Maciej K.", "profile_picture": "https://scontent.cdninstagram.com/vp/698235dada678c005f20ed7cdca89f91/5B3BB0AB/t51.2885-19/11939555_723875314425165_599316154_a.jpg",
        "username": "xiazek"}}, "user_has_liked": false, "likes": {"count": 0}, "tags":
        ["smogfree", "air"], "filter": "Normal", "comments": {"count": 0}, "type":
        "image", "link": "https://www.instagram.com/p/BgS-abUhbz8/", "location": {"latitude":
        50.062869, "longitude": 19.916239, "name": "Park im. Henryka Jordana w Krakowie",
        "id": 1549041875312403}, "attribution": null, "users_in_photo": []}, {"id":
        "1718029701475254086_45364550", "user": {"id": "45364550", "full_name": "Maciej
        K.", "profile_picture": "https://scontent.cdninstagram.com/vp/698235dada678c005f20ed7cdca89f91/5B3BB0AB/t51.2885-19/11939555_723875314425165_599316154_a.jpg",
        "username": "xiazek"}, "images": {"thumbnail": {"width": 150, "height": 150,
        "url": "https://scontent.cdninstagram.com/vp/46dd16808b57d995294f5887c5fa5f10/5B34E23D/t51.2885-15/s150x150/e35/c54.0.971.971/27890689_1900[...]
- request:
    method: get
    uri: https://instagram.com/graphql/query/?first=12&id=45364550&query_id=17888483320059182
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data":{"user":{"edge_owner_to_timeline_media":{"count":607,"page_info":{"has_next_page":true,"end_cursor":"AQDSCngAonnEZQckD80lfVLNVkrF4Xmj3z5s48zMLf6O3RMuxLfZaV9EmwgFKfY141aDTq9whf6bIWIIwLkAGr-0wevTHBN64AzR4VCMlnD_-w"},"edges":[{"node":{"id":"1748545986965276808","__typename":"GraphImage","edge_media_to_caption":{"edges":[{"node":{"text":"Almost
        like #rendered. .\n#architecture #podhale #zakopane #dom #house"}}]},"shortcode":"BhEFU-agAiI","edge_media_to_comment":{"count":2},"comments_disabled":false,"taken_at_timestamp":1522662946,"dimensions":{"height":896,"width":1080},"display_url":"https://scontent-waw1-1.cdninstagram.com/vp/84ab5c74050ef3785d07be9f73910dad/5B63E021/t51.2885-15/e35/29715237_2031109283844407_8612024351832670208_n.jpg","edge_media_preview_like":{"count":13},"owner":{"id":"45364550"},"thumbnail_src":"https://scontent-waw1-1.cdninstagram.com/vp/d0b2766cdbca0509464ac09571016b43/5B5D571A/t51.2885-15/s640x640/sh0.08/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","thumbnail_resources":[{"src":"https://scontent-waw1-1.cdninstagram.com/vp/bd61fbff0c900d0501bebee898865c62/5B6CC659/t51.2885-15/s150x150/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","config_width":150,"config_height":150},{"src":"https://scontent-waw1-1.cdninstagram.com/vp/1d091e368d90a3e7e2fb391c8c191398/5B67D2CF/t51.2885-15/s240x240/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","config_width":240,"config_height":240},{"src":"https://scontent-waw1-1.cdninstagram.com/vp/86e2695778d1cf933eb7b279898a99f3/5B6D0E27/t51.2885-15/s320x320/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","config_width":320,"config_height":320},{"src":"https://scontent-waw1-1.cdninstagram.com/vp/bc8a708634e5b96042ff582d60baf115/5B650D0E/t51.2885-15/s480x480/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","config_width":480,"config_height":480},{"src":"https://scontent-waw1-1.cdninstagram.com/vp/d0b2766cdbca0509464ac09571016b43/5B5D571A/t51.2885-15/s640x640/sh0.08/e35/c92.0.896.896/29715237_2031109283844407_8612024351832670208_n.jpg","config_width":640,"config_height":640}],"is_video":false}},{"node":{"id":"1748047653687644460","__typename":"GraphSidecar","edge_media_to_caption":{"edges":[{"node":{"text":"#easter
        #2018 #winter"}}]},"shortcode":"BhCUBRYgdEs","edge_media_to_comment":{"count":2},"comments_disabled":false,"taken_at_timestamp":1522603540,"dimensions":{"height":750,"width":750},"display_url":"https://scontent-waw1-1.cdninstagram.com/vp/c500fc6e5aba1243c94b3d50e1af1d49/5AC99636/t51.2885-15/e35/29402025_405117329951627_892969888916701184_n.jpg","edge_media_pr[...]
