---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?client_id=<API_TOKEN>&q=goldie_berlin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '500'
      x-ratelimit-remaining:
      - '456'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 400, "error_type": "OAuthAccessTokenException", "error_message":
        "The access_token provided is invalid."}}'
      effective_url: https://api.instagram.com/v1/users/search?client_id=<API_TOKEN>&q=goldie_berlin
  recorded_at: Wed, 14 Mar 2018 07:59:14 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd&q=goldie_berlin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4966'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [{"id": "165640", "username": "goldie_berlin", "full_name":
        "Travel Blogger \u0026 Photographer", "profile_picture": "https://scontent.cdninstagram.com/vp/16c618f2aa0446cc49f28e794a833bbe/5B4C3BD6/t51.2885-19/s150x150/20837321_474462106253471_1434461696100925440_a.jpg"},
        {"id": "968427454", "username": "sonogoldiecom", "full_name": "#Berlin#Hamburg#K\u00f6ln",
        "profile_picture": "https://scontent.cdninstagram.com/vp/6484743ddb320eafbd84d36aa4017718/5B34BA17/t51.2885-19/s150x150/11242389_1635098436708478_1242081805_a.jpg"},
        {"id": "6739901677", "username": "lucytheberlingoldie", "full_n[...]
