---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?client_id=<API_TOKEN>&q=goldie_berlin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"goldie_berlin","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-19\/11142385_423654037812559_1088657895_a.jpg","id":"165640","full_name":"Travel
        diary by Sylvia"},{"username":"goldie_bel","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/11256929_1585007381777011_1759330533_a.jpg","id":"258235111","full_name":"Berlinda
        Nyarkoh"},{"username":"sonogoldiecom","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11242389_1635098436708478_1242081805_a.jpg","id":"968427454","full_name":"#Berlin#Hamburg#K\u00f6ln"},{"username":"berlinghofgoldie","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xpa1\/t51.2885-19\/925967_1375584696076243_1461439265_a.jpg","id":"1656792739","full_name":"Goldie"}]}'
      effective_url: https://api.instagram.com/v1/users/search?client_id=<API_TOKEN>&q=goldie_berlin
  recorded_at: Tue, 15 Sep 2015 15:15:49 GMT
recorded_with: VCR 2.9.3
