---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550/media/recent?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '500'
      x-ratelimit-remaining:
      - '462'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 400, "error_type": "OAuthAccessTokenException", "error_message":
        "The access_token provided is invalid."}}'
      effective_url: https://api.instagram.com/v1/users/45364550/media/recent?client_id=<API_TOKEN>
  recorded_at: Wed, 14 Mar 2018 07:59:11 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550/media/recent?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4968'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"pagination": {"next_max_id": "1662244701161523516_45364550", "next_url":
        "https://api.instagram.com/v1/users/45364550/media/recent?access_token=441979517.b4d2505.74433001c61845adba716152a0e1d3dd\u0026max_id=1662244701161523516_45364550"},
        "data": [{"id": "1734723301416484092_45364550", "user": {"id": "45364550",
        "full_name": "Maciej K.", "profile_picture": "https://scontent.cdninstagram.com/vp/698235dada678c005f20ed7cdca89f91/5B3BB0AB/t51.2885-19/11939555_723875314425165_599316154_a.jpg",
        "username": "xiazek"}, "images": {"thumbnail": {"width": 150, "height": 150,
        "url": "https://scontent.cdninstagram.com/vp/4838927955fe5e9570feb1e221fee187/5B2CDE14/t51.2885-15/s150x150/e35/c135.0.810.810/28766226_152014472115493_2271245346837364736_n.jpg"},
        "low_resolution": {"width": 320, "height": 240, "url": "https://scontent.cdninstagram.com/vp/87aa1b29ed16301449317dd5d767602f/5B3F5D7F/t51.2885-15/s320x320/e35/28766226_152014472115493_2271245346837364736_n.jpg"},
        "standard_resolution": {"width": 640, "height": 480, "url": "https://scontent.cdninstagram.com/vp/163902576377c8849e56529acd447d6f/5B29CA3C/t51.2885-15/s640x640/sh0.08/e35/28766226_152014472115493_2271245346837364736_n.jpg"}},
        "created_time": "1521015154", "caption": {"id": "17912098078088040", "text":
        "#smogfree #air", "created_time": "1521015154", "from": {"id": "45364550",
        "full_name": "Maciej K.", "profile_picture": "https://scontent.cdninstagram.com/vp/698235dada678c005f20ed7cdca89f91/5B3BB0AB/t51.2885-19/11939555_723875314425165_599316154_a.jpg",
        "username": "xiazek"}}, "user_has_liked": false, "likes": {"count": 0}, "tags":
        ["smogfree", "air"], "filter": "Normal", "comments": {"count": 0}, "type":
        "image", "link": "https://www.instagram.com/p/BgS-abUhbz8/", "location": {"latitude":
        50.062869, "longitude": 19.916239, "name": "Park im. Henryka Jordana w Krakowie",
        "id": 1549041875312403}, "attribution": null, "users_in_photo": []}, {"id":
        "1718029701475254086_45364550", "user": {"id": "45364550", "full_name": "Maciej
        K.", "profile_picture": "https://scontent.cdninstagram.com/vp/698235dada678c005f20ed7cdca89f91/5B3BB0AB/t51.2885-19/11939555_723875314425165_599316154_a.jpg",
        "username": "xiazek"}, "images": {"thumbnail": {"width": 150, "height": 150,
        "url": "https://scontent.cdninstagram.com/vp/46dd16808b57d995294f5887c5fa5f10/5B34E23D/t51.2885-15/s150x150/e35/c54.0.971.971/27890689_1900[...]
