---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?client_id=<API_TOKEN>&q=goldie_berlin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4848'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"goldie_berlin","bio":"Instagramer
        from Germany \/Berlin \u2728MY DIARY AROUND THE WORLD IN COLORS \u2728 travel
        with me on Instagram \u2728sylvia@brandnew.io \u2728","website":"http:\/\/www.InstagramerFromGermany.com","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_165640_75sq_1380875972.jpg","full_name":"!
        Sylvia","id":"165640"}]}'
  recorded_at: Wed, 30 Apr 2014 21:34:50 GMT
recorded_with: VCR 2.8.0
