---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/45364550/media/recent?client_id=<API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4853'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/45364550\/media\/recent?max_id=691295359271903208_45364550\u0026client_id=<API_TOKEN>","next_max_id":"691295359271903208_45364550"},"meta":{"code":200},"data":[{"attribution":null,"tags":["dobrzanski","krakow","bmw"],"location":{"latitude":50.074532456,"name":"BMW
        Dobrza\u0144ski","longitude":20.001631799,"id":242336381},"comments":{"count":0,"data":[]},"filter":"Hefe","created_time":"1398853080","link":"http:\/\/instagram.com\/p\/naQv5fxx84\/","likes":{"count":3,"data":[{"username":"lucek_jestem_lubie_cycki","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_3368160_75sq_1364738315.jpg","id":"3368160","full_name":"Lucek"},{"username":"fred_bmw_slash","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_515493170_75sq_1390924048.jpg","id":"515493170","full_name":"Velvet
        Revolver"},{"username":"kingkhanafer","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_257155679_75sq_1390223078.jpg","id":"257155679","full_name":"Ali
        Khanafer"}]},"images":{"low_resolution":{"url":"http:\/\/origincache-frc.fbcdn.net\/10269018_1400921900187855_165899858_a.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/origincache-frc.fbcdn.net\/10269018_1400921900187855_165899858_s.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/origincache-frc.fbcdn.net\/10269018_1400921900187855_165899858_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1398853080","text":"#bmw
        #dobrzanski #krakow","from":{"username":"xiazek","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_45364550_75sq_1378321024.jpg","id":"45364550","full_name":"Maciej
        K."},"id":"709953551912607116"},"type":"image","id":"709953551560286008_45364550","user":{"username":"xiazek","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_45364550_75sq_1378321024.jpg","full_name":"Maciej
        K.","bio":"","id":"45364550"}},{"attribution":null,"tags":[],"location":null,"comments":{"count":0,"data":[]},"filter":"Brannan","created_time":"1398537408","link":"http:\/\/instagram.com\/p\/nQ2pyQRxy_\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"http:\/\/distilleryimage8.s3.amazonaws.com\/b7812104cd7111e3ae180002c9dd2a8c_6.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/distilleryimage8.s3.amazonaws.com\/b7812104cd7111e3ae180002c9dd2a8c_5.jpg","width":150,"height":150}[...]
