---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/xiazek/?__a=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"logging_page_id":"profilePage_45364550","show_suggested_profiles":false,"graphql":{"user":{"biography":"Follow
        me for sunny photos !!!","blocked_by_viewer":false,"country_block":false,"external_url":"http://krakow.repertuary.pl/","external_url_linkshimmed":"https://l.instagram.com/?u=http%3A%2F%2Fkrakow.repertuary.pl%2F&e=ATMO8IwNaeAtyMppMN9VC-666pIrGe01qvT0LrAMYHmud9DDGAm7HVuHmh0CJkkQWkdteYR6","edge_followed_by":{"count":169},"followed_by_viewer":false,"edge_follow":{"count":303},"follows_viewer":false,"full_name":"Maciej
        K.","has_blocked_viewer":false,"has_requested_viewer":false,"id":"45364550","is_private":false,"is_verified":false,"mutual_followers":null,"profile_pic_url":"https://instagram.fdel8-1.fna.fbcdn.net/vp/0bc05807133a21afb32bedd9534c9757/5B633DAB/t51.2885-19/11939555_723875314425165_599316154_a.jpg","profile_pic_url_hd":"https://instagram.fdel8-1.fna.fbcdn.net/vp/0bc05807133a21afb32bedd9534c9757/5B633DAB/t51.2885-19/11939555_723875314425165_599316154_a.jpg","requested_by_viewer":false,"username":"xiazek","connected_fb_page":null,"edge_owner_to_timeline_media":{"count":614,"page_info":{"has_next_page":true,"end_cursor":"AQCP2VNr1_bNW6fCJqNXCNVaTU1JxXrX1-WOSXCe6YadEDPhuQTMUfT9I7SchZxpdfxjCGJie6_05Sx-SBpURBRdqwxlXqoLHeUq3so_ktCbiA"},"edges":[{"node":{"__typename":"GraphSidecar","id":"1753974267484551699","edge_media_to_caption":{"edges":[{"node":{"text":"#afterparty
        #elevatorselfie #metinstuttgart #metallica the youngest fans (8 & 10yo) #metallicafamily
        / cc @larsulrich @metallica"}}]},"shortcode":"BhXXk2ml7oT","edge_media_to_comment":{"count":0},"comments_disabled":false,"taken_at_timestamp":1523310048,"dimensions":{"height":1080,"width":1080},"display_url":"https://instagram.fdel8-1.fna.fbcdn.net/vp/939a43dd841f235108b7903704477056/5B586C09/t51.2885-15/e35/30085564_133354157407962_3035949202849923072_n.jpg","edge_liked_by":{"count":34},"edge_media_preview_like":{"count":34},"gating_info":null,"media_preview":null,"owner":{"id":"45364550"},"thumbnail_src":"https://instagram.fdel8-1.fna.fbcdn.net/vp/caa354f5a4daf9a3d73fcf8e56d7f1c4/5B6F1D68/t51.2885-15/s640x640/sh0.08/e35/30085564_133354157407962_3035949202849923072_n.jpg","thumbnail_resources":[{"src":"https://instagram.fdel8-1.fna.fbcdn.net/vp/cb0c9be257e31369bab335d354cbc875/5B54E06C/t51.2885-15/s150x150/e35/30085564_133354157407962_3035949202849923072_n.jpg","config_width":150,"config_height":150},{"src":"https://instagram.fdel8-1.fna.fbcdn.net/vp/f11e6e126317f46f6aae83707aff5613/5B54D653/t51.2885-15/s240x240/e35/30085564_133354157407962_3035949202849923072_n.jpg","config_width":240,"config_height":240},{"src":"https://instagram.fdel8-1.fna.fbcdn.net/vp/dfd761721196084a208b7f2004bf1708/5B72242B/t51.2885-15/s320x320/e35/30085564_133354157407962_3035949202849923072_n.jpg","config_width":320,"config_height":320},{"src":"https://instagram.fdel8-1.fna.fbcdn.net/vp/8320544a11c99e38e9f9cab29a59a8cd/5B6309AD/t51.2885-15/s480x480/e35/30085564_133354157407962_3035949202849923072_n.jpg","config_width":480,"config_height":480},{"src":"https://instagram.fdel8-1.fna.fbcdn.net/vp/caa354f5a4daf9a3d73fcf8e56d7f1c4/5B6F1D68/t51.2885-15/s640x640/sh0.08/e35/30085564_133354157407962_3035949202849923072_n.jpg","config_width":640,"config_height":640}],"is_video":false}},{"node":{"__typename":"GraphImage","id":"1753796158101394624","edge_media_to_caption":{"edges":[{"node":{"text":"#metinstuttgart
        #metallica #stuttgart #8yo #fan #metallicafamily"}}]},"shortcode":"BhWvFBUFBTA","edge_media_to_comment":{"count":0},"comments_disabled":false,"taken_at_timestamp":1523288815,"dimensions":{"height":997,"width":1080},"display_url":"https://instagram.fdel8-1.fna.fbcdn.net/vp/c9abb61c6e3b340e9064d1c465e51569/5B757797/t51.2885-15/e35/29740775_752622444934529[...]
