---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?client_id=<API_TOKEN>&q=goldie_berlin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '4338'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":[{"username":"goldie_berlin","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/10012998_905885026120712_1642658882_a.jpg","id":"165640","full_name":"Travel
        diary by Sylvia"}]}'
      effective_url: https://api.instagram.com/v1/users/search?client_id=<API_TOKEN>&q=goldie_berlin
  recorded_at: Thu, 09 Apr 2015 13:06:07 GMT
recorded_with: VCR 2.9.3
